---
layout: default
title: "Projects"
---
<div class='projects'>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <p>
    The GeoBlacklight software stack consists of several open source software projects which work together to enable a better discovery experience. The main discovery application, <a href="https://github.com/geoblacklight/geoblacklight">GeoBlacklight</a>, is developped as a Ruby on Rails engine using Blacklight. 
  </p>
  <div class="grid-items-lines">
    {% for project in site.projects %}
      {% if project.title %}
      <a href="{{ project.url | prepend: site.baseurl }}" class='grid-item'>
        <h1>{{ project.title }}</h1>
        <p>{{ project.snippet }}</p>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>