<header class="navigation">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="/images/geoblacklight-logo.png" data-at2x="/images/geoblacklight-logo@2x.png">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation" class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link"><a href="/connect.html">Connect</a></li>
        <li class="nav-link"><a href="/projects.html">Projects</a></li>
        <li class="nav-link"><a href="/blog.html">Blog</a></li>
        <li class="nav-link"><a href="/docs">Documentation</a></li>
        
      </ul>
    </nav>
  </div>
  <div class="pad"></div>
</header>
