<header class="navigation">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="/images/geoblacklight-logo.png" data-at2x="/images/geoblacklight-logo@2x.png">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/projects.html">Projects</a></li>
        <li class="nav-link"><a href="/blog.html">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
