ul,
ol, {
  margin-bottom: $base-spacing / 2;
  padding-left: $base-spacing;
  list-style-type: initial;
}
// Overriding defaults
ul,
ol {
  &.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.center-image {
  @include span-columns(6);
  @include shift(3);
}

article {
  @include outer-container;
}
