// ul,
// ol, {
//   margin-bottom: $base-spacing / 2;
//   padding-left: $base-spacing;
//   list-style-type: initial;
// }
// Overriding defaults
ul,
ol {
  &.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.center-image {
  img {
    height: auto;
    left: 0; 
    position: relative;
    top: 0;
    width: 90%;
  }
}

article {
  @include outer-container;
}

.toc {
  font-size: 1em;
}

.showcase {
  h3 {
    padding-bottom: 20px;
  }
}

.center-text {
  text-align: center;
}
