/**
* Icons
*/
.icon {
  
  > svg {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    
    path {
      fill: desaturate($base-accent-color, 30);
    }
  }
}
