/* 
This is custom CSS for geoblacklight.org.  The default text in the Material Theme is a little small, so many of these values increase the size slightly.
- created: @karenmajewicz, 2023-06-14
- updated: 
 */


/* TOP MENU */
 .md-tabs__link  {
      font-size: 1.7em; 
  }
  
/* SIDE MENU  */
.md-nav--primary {
      border-right: .1em  solid #24574F;
      }

.md-nav__item--section > .md-nav__link[for] {
    color: inherit;
}

.md-nav__item{
      font-size: 1em;
      }

/* FONT SIZES */
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.md-typeset h1{
      color:  #3fad58;
      font-weight: 500;
      font-size: 2.1em;
}

.md-typeset h2{   
      color: #09483e;
      font-size: 1.75em;
}

.md-typeset h3{
      color: inherit;
      font-size: 1.3em;
}


/* BLOG TITLES */
a.toclink{
      font-size: .85em;
      font-weight: 500;
   }

/* CENTER IMAGES  */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* OTHER GRIDS */

/* HOMEPAGE */
/* RESPONSIVE - 1 COLUMN ON SMALL SCREENS */
@media screen and (max-width: 640px) {
  #grid-col { grid-template-columns: 100%; }
}

/* GRID CONTAINER */
#grid-line {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 20px;
}
 
/* GRID CELL */
div.cell {
/*   border: .5px solid #e0e0e0; */
  padding: 5px;
}

/* SPAN MULTIPLE COLUMNS */
.spancol {
  grid-column-start: 1;
  grid-column-end: 2;
}


/* Built-in grid cards */

/* Style for the grid cell */
.md-typeset .grid.cards li {
  overflow: hidden;
}

/* Style for images within each grid cell */
.md-typeset .grid.cards li img {
  width: 100%; 
  height: 175px; 
  object-fit: cover; 
  object-position: top;
}

.md-typeset .grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card {
    border: .05rem solid #3fad58;
    border-radius: .2rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition:border .25s, box-shadow .25s
}


