/* set height of top menu */

  .md-header .md-grid {
    padding-left: 4.8rem;
  }
  
  .md-header__button.md-logo img {
    height: 2rem  !important; <-- see comment below    display: block;
    padding-right: .75em;
  }
  
/* increase header size and fonts */

 .md-header__topic  {
  font-size: 1.5em; 
  line-height: 2em;
  }
  
  .md-header__topic {
  display: none;  
}

 . md-tabs {
 display: block;
  float: right;
 }
 
 .md-tabs__link  {
      font-size: 1.75em; 
  }

/* set width of site */
/* 
.md-grid {
  max-width: 90%; 
}
 */

.md-nav__item--section > .md-nav__link[for] {
    color: inherit;
}

.md-typeset h2{
      color: inherit;
      font-weight: bold;
      font-size: 1.3em;
}

.md-typeset h3{
      color: #24574F;
      font-size: 1.3em;
}


/* Hide main nav title */
label[for="__drawer"] {
    display: none;
}


/* style the left hand nav  */

.md-nav--primary {
      border-right: .1em  solid #24574F;

      }

 
/* (C) RESPONSIVE - 1 COLUMN ON SMALL SCREENS */
@media screen and (max-width: 640px) {
  #grid-col { grid-template-columns: 100%; }
}

/* (A) GRID CONTAINER */
#grid-line {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 20px;
}
 
/* (B) GRID CELL */
div.cell {
/*   border: .5px solid #e0e0e0; */
  padding: 5px;
}

/* (C) SPAN MULTIPLE COLUMNS */
.spancol {
  grid-column-start: 1;
  grid-column-end: 2;
}

