---
layout: tutorial
---
<div class='flash-notice'>
  This is part of a larger tutorial created for a Code4Lib Preconference Workshop <a href="{% post_url 2015-02-09-a-hands-on-introduction-to-geoblacklight %}">"A hands on introduction to GeoBlacklight"</a>.
</div>

<hr>
{{ content }}
<hr>


<ul class='unstyled toc'>
  <li>
    <a href="{% post_url 2015-02-09-a-hands-on-introduction-to-geoblacklight %}">Introduction</a>
  </li>
  <li>
    <a href="{% post_url 2015-02-09-geoblacklight-overview %}">Part 1 - GeoBlacklight overview</a>
  </li>
  <li>
    <a href="{% post_url 2015-02-09-setting-up-your-environment %}">Part 2 - Setting up your environment</a>
  </li>
  <li>
    <a href="{% post_url 2015-02-09-create-your-application %}">Part 3 - Create your application</a>
  </li>
  <li>
    <a href="{% post_url 2015-02-09-index-solr-documents %}">Part 4 - Index Solr documents</a>
  </li>
</ul>

<hr>