---
layout: default
---
<article itemscope itemtype="http://schema.org/Article" class='type-system-rounded'>
  <p class='type'><a href='/tutorials.html'>Tutorials</a></p>
  <h1>{{ page.title }}</h1>
    <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>


  <article class="post-content">
    {{ content }}
  </article>
  <hr>
  <p class='author'>
    {% if page.author %}
      Author: 
      {% if page.author_link %}
        <a href="{{page.author_link}}" itemprop="author">{{ page.author }}</a>
      {% else %}
        {{ page.author }}
      {% endif %}
    {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
  </p>
</article>
